<% content_for :title, "Upcoming Tech Events in New Zealand" %>

<h1>Upcoming Events</h1>

<%= render "filters" %>

<% if @events_by_month.any? %>
  <div class="events-list">
    <% @events_by_month.each do |month, events| %>
      <h2 class="month-separator" data-month="<%= month.strftime('%Y-%m') %>"><%= month.strftime('%B %Y') %></h2>
      <%= render partial: "event_card", collection: events, as: :event %>
    <% end %>
  </div>
<% else %>
  <div class="empty-state">
    <h3>No upcoming events</h3>
    <p>Be the first to post an event!</p>
    <% if logged_in? %>
      <a href="<%= new_event_path %>" role="button" type="button">Post an Event</a>
    <% else %>
      <a href="<%= new_registration_path %>" role="button" type="button">Sign up to post events</a>
    <% end %>
  </div>
<% end %>

<%= render "filter_script" %>
