<% content_for :title, "Past Tech Events in New Zealand" %>

<h1>Past Events</h1>

<%= render "filters" %>

<% if @events_by_month.any? %>
  <div class="events-list">
    <% @events_by_month.each do |month, events| %>
      <h2 class="month-separator" data-month="<%= month.strftime('%Y-%m') %>"><%= month.strftime('%B %Y') %></h2>
      <%= render partial: "event_card", collection: events, as: :event %>
    <% end %>
  </div>
<% else %>
  <div class="empty-state">
    <h3>No past events found</h3>
    <p><a href="<%= root_path %>">View upcoming events</a></p>
  </div>
<% end %>

<%= render "filter_script" %>
